<div id="ad_left">
  <div id ="ad_cont"><%= "ad  goes here"%></div>
<div id="sample"></div>
</div>

<div class= "page" id = "page">
  
   <div id = "read">
      <%= link_to "Go to Portal",{:action => 'mainpage' } %>
    </div>
</div>
<div id="ad_right"><%= "ad  goes here"%></div>
<script type="text/javascript">
   $(".topics > li").click(function(){
  $(".topics > li").removeClass("active"); // this line will remove class active from every li
  $(this).addClass("active");
});
</script>