<ul id="main-menu">
    <li><%= link_to "Home", :controller => "user", :action => "new" %></li>
	<li><%= link_to "About Us", :controller => "main", :action => "mainpage" %></li>
  	<li><%= link_to "Contact", :controller => "news", :action => "select_topic" %></li> 
</ul>

  
  